* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "sans-serif";
}

h1, h2 {
    text-align: center;
    background: linear-gradient(to right,#CC4FBE, #7971FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    background: linear-gradient(to right, #07090E, #0D111B);
    color: white;
    justify-content: space-between;
    padding: 10px 2%;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left img {
    width: 25px;
    margin-right: 25px;
    /* filter: invert(1) sepia(1) saturate(10000%) hue-rotate(0deg); */
}

.nav-right img {
    width: 25px;
}

.nav-middle input {
    border: none;
    outline: none;
    margin-right: 5px;
    background: transparent;
    width: 400px;
    color: white;
}

@media (max-width: 900px) {
    .nav-middle {
        width: 250px;
    }

    .nav-middle input {
        width: 200px;
    }
}

.nav-middle img {
    width: 20px;
}

.nav-middle {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
}

/* ------------ Sidebar ------------ */

.sidebar {
    background: linear-gradient(to right, #07090E, #0D111B);
    color: white;
    font-weight: 500;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 80px;
}

.side-links a img {
    width: 25px;
    margin-right: 20px;
}

.side-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 5px;
}

.sidebar a {
    padding-left: 10%;
}

.side-links a:hover {
    background: rgba(107, 107, 107, 0.356);
    color: white;
}

.side-links a p:hover {
    color: white;
}

.side-links a p {
    color: grey;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.sidebar hr {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
    margin-bottom: 0;
}

.boards-list a {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 5px;
}

.boards-list p {
    margin: 0;
}

.boards-list img {
    background-color: white;
    margin-left: 20px;
}

/* -------------- main -------------- */

.yourBoards {
    color: white;
    padding: 5px;
    padding-left: 10%;
}
